{
    "openapi": "3.0.0",
    "info": {
        "title": "API Inmobiliaria",
        "description": "API para gestionar recursos de una inmobiliaria",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://projects.andresjosehr.com/api-inmobiliaria/api"
        }
    ],
    "paths": {
        "/cars": {
            "get": {
                "tags": [
                    "Carros"
                ],
                "summary": "Obtener lista de carros",
                "operationId": "848ef97d2b359a61f9f16b4529b28f9f",
                "parameters": [
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "Numero de registros",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Numero de la pagina a consultar",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "brand",
                        "in": "query",
                        "description": "Marca del carro",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "model",
                        "in": "query",
                        "description": "Modelo del carro",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "placa",
                        "in": "query",
                        "description": "Placa del carro",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "owner_name",
                        "in": "query",
                        "description": "Nombre del propietario del carro",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "Año del carro",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "color",
                        "in": "query",
                        "description": "Color del carro",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "doors",
                        "in": "query",
                        "description": "Numero de puertas del carro",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "properties": {
                                                        "data": {
                                                            "type": "array",
                                                            "items": {
                                                                "$ref": "#/components/schemas/Car"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object",
                                            "property": "data"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Carros"
                ],
                "summary": "Crear un nuevo carro",
                "operationId": "02247731c126a80010bac4cea44f3099",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Car"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Registro Exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/GeneralResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/Car"
                                                }
                                            },
                                            "type": "object",
                                            "property": "data"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validacion de campos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "properties": {
                                                "brand": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cars/{id}": {
            "get": {
                "tags": [
                    "Carros"
                ],
                "summary": "Obtener información de un carro",
                "operationId": "0df57a1470d202059ac99693a141b443",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del carro",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Consulta Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Car"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No se encontró el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Carros"
                ],
                "summary": "Actualizar información de un carro",
                "operationId": "2d9e1d450d3caf36fc84fbcd7054d075",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del carro",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Car"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Actualización Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Car"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No se encontró el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Carros"
                ],
                "summary": "Eliminar un carro",
                "operationId": "346a0849fa295e2228c2c0092b43b991",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del carro",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Eliminación Exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Car"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No se encontró el registro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/properties": {
            "get": {
                "tags": [
                    "Properties"
                ],
                "summary": "Obtener todas las propiedades",
                "description": "Obtiene todas las propiedades con paginación y filtros opcionales",
                "operationId": "746579d3bcf6b52031df2bca9193dc9f",
                "parameters": [
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "Número de elementos por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Nombre de la propiedad",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Descripción de la propiedad",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "property_type_id",
                        "in": "query",
                        "description": "Tipo de propiedad",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "description": "Dirección de la propiedad",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mls_number",
                        "in": "query",
                        "description": "Número MLS",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "construction_year",
                        "in": "query",
                        "description": "Año de construcción",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location_type",
                        "in": "query",
                        "description": "Tipo de localización",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bedrooms",
                        "in": "query",
                        "description": "Dormitorios",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bathrooms",
                        "in": "query",
                        "description": "Baños",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Tamaño",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "description": "Precio",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "currency_id",
                        "in": "query",
                        "description": "Tipo de moneda",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status_id",
                        "in": "query",
                        "description": "Estado de la propiedad",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "contract_type_id",
                        "in": "query",
                        "description": "Tipo de contrato",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "parking",
                        "in": "query",
                        "description": "Estacionamiento",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "kitchen",
                        "in": "query",
                        "description": "Cocina",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "elevator",
                        "in": "query",
                        "description": "Elevador",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "wifi",
                        "in": "query",
                        "description": "Wifi",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "fireplace",
                        "in": "query",
                        "description": "Chimenea",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "hoa",
                        "in": "query",
                        "description": "HOA",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "stories",
                        "in": "query",
                        "description": "Cuentos",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "exclusions",
                        "in": "query",
                        "description": "Exclusiones",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "level",
                        "in": "query",
                        "description": "Piso (Apartamento)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "security",
                        "in": "query",
                        "description": "Seguridad",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lobby",
                        "in": "query",
                        "description": "Vestíbulo",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "balcony",
                        "in": "query",
                        "description": "Balcon",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "terrace",
                        "in": "query",
                        "description": "Terraza",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "power_plant",
                        "in": "query",
                        "description": "Planta electrica",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "gym",
                        "in": "query",
                        "description": "Gimnasio",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "walk_in_closet",
                        "in": "query",
                        "description": "Vestidor",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "swimming_pool",
                        "in": "query",
                        "description": "Piscina",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "kids_area",
                        "in": "query",
                        "description": "Área de niños",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pets_allowed",
                        "in": "query",
                        "description": "Mascotas permitidas",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "central_air_conditioner",
                        "in": "query",
                        "description": "Aire acondicionado central",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "published",
                        "in": "query",
                        "description": "Publicado",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "Ordenar por columna",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Ordenar ascendentemente o descendentemente",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "properties": {
                                                        "data": {
                                                            "type": "array",
                                                            "items": {
                                                                "$ref": "#/components/schemas/Property"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object",
                                            "property": "data"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "No autorizado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error interno del servidor"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Properties"
                ],
                "summary": "Crear una propiedad",
                "operationId": "ff3a20cd7e861df3a064ab102b323f71",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Property"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Registro Exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/GeneralResponse"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/Property"
                                                }
                                            },
                                            "type": "object",
                                            "property": "data"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validacion de campos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "properties": {
                                                "brand": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/properties/{id}": {
            "get": {
                "tags": [
                    "Properties"
                ],
                "summary": "Obtener detalles de una propiedad",
                "operationId": "7ddcd23cfe85c85fbea54c894338cf47",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la propiedad",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Consulta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Property"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No se encontró la propiedad"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Properties"
                ],
                "summary": "Actualizar una propiedad existente",
                "operationId": "9b7bc9494aefc466fc2a6ac4809cae29",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la propiedad",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Property"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Propiedad actualizada con éxito",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Property"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No se encontró la propiedad"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Properties"
                ],
                "summary": "Eliminar una propiedad",
                "operationId": "25aa6303d1c4474755ee28a500291034",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la propiedad a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Propiedad eliminada correctamente"
                    },
                    "204": {
                        "description": "Propiedad no encontrada"
                    },
                    "401": {
                        "description": "No autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/properties/get-features": {
            "get": {
                "tags": [
                    "Features"
                ],
                "summary": "Obtener características",
                "operationId": "92608c278e3fcca58b5b6d6f03163f51",
                "responses": {
                    "200": {
                        "description": "Consulta exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "currencies": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Currency"
                                            }
                                        },
                                        "propertyTypes": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/PropertyType"
                                            }
                                        },
                                        "status": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/PropertyStatus"
                                            }
                                        },
                                        "contractTypes": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ContractType"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "GeneralResponse": {
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "any"
                    }
                },
                "type": "object"
            },
            "Pagination": {
                "properties": {
                    "current_page": {
                        "type": "integer"
                    },
                    "data": {
                        "type": "array",
                        "items": {}
                    },
                    "first_page_url": {
                        "type": "string"
                    },
                    "from": {
                        "type": "integer"
                    },
                    "last_page": {
                        "type": "integer"
                    },
                    "last_page_url": {
                        "type": "string"
                    },
                    "next_page_url": {
                        "type": "string"
                    },
                    "path": {
                        "type": "string"
                    },
                    "per_page": {
                        "type": "integer"
                    },
                    "prev_page_url": {
                        "type": "string"
                    },
                    "to": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "PaginatedResponse": {
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                        "properties": {
                            "data": {
                                "$ref": "#/components/schemas/Pagination"
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "Car": {
                "title": "Carro",
                "description": "Carro model",
                "required": [
                    "brand",
                    "model"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "year": {
                        "type": "integer",
                        "nullable": true
                    },
                    "color": {
                        "type": "string",
                        "nullable": true
                    },
                    "doors": {
                        "type": "integer",
                        "nullable": true
                    },
                    "brand": {
                        "type": "string",
                        "nullable": true
                    },
                    "model": {
                        "type": "string",
                        "nullable": true
                    },
                    "placa": {
                        "type": "string",
                        "uniqueItems": true
                    },
                    "owner_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "ContractType": {
                "title": "Contract Type",
                "description": "Contract Type schema",
                "properties": {
                    "id": {
                        "description": "ID of the contract type",
                        "type": "integer"
                    },
                    "name": {
                        "description": "Name of the contract type",
                        "type": "string"
                    },
                    "created_at": {
                        "description": "Creation date of the contract type",
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "description": "Last update date of the contract type",
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "Currency": {
                "title": "Currency",
                "description": "Currency schema",
                "properties": {
                    "id": {
                        "description": "ID of the currency",
                        "type": "integer"
                    },
                    "name": {
                        "description": "Name of the currency",
                        "type": "string"
                    },
                    "created_at": {
                        "description": "Creation date of the currency",
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "description": "Last update date of the currency",
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "Property": {
                "title": "Propiedad",
                "description": "Modelo de Propiedad",
                "required": [
                    "name",
                    "description",
                    "property_type_id",
                    "address",
                    "mls_number",
                    "construction_year",
                    "location_type",
                    "bedrooms",
                    "bathrooms",
                    "video",
                    "size",
                    "price",
                    "currency_id",
                    "youtube_link",
                    "status_id",
                    "contract_type_id",
                    "lat",
                    "lon",
                    "parking",
                    "kitchen",
                    "elevator",
                    "wifi",
                    "fireplace",
                    "hoa",
                    "stories",
                    "exclusions",
                    "level",
                    "security",
                    "lobby",
                    "balcony",
                    "terrace",
                    "power_plant",
                    "gym",
                    "walk_in_closet",
                    "swimming_pool",
                    "kids_area",
                    "pets_allowed",
                    "central_air_conditioner",
                    "published",
                    "created_by",
                    "published_at"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "property_type_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "address": {
                        "type": "string",
                        "nullable": true
                    },
                    "mls_number": {
                        "type": "string",
                        "nullable": true
                    },
                    "construction_year": {
                        "type": "string",
                        "nullable": true
                    },
                    "location_type": {
                        "type": "string",
                        "nullable": true
                    },
                    "bedrooms": {
                        "type": "string",
                        "nullable": true
                    },
                    "bathrooms": {
                        "type": "string",
                        "nullable": true
                    },
                    "video": {
                        "type": "string",
                        "nullable": true
                    },
                    "size": {
                        "type": "string",
                        "nullable": true
                    },
                    "price": {
                        "type": "string",
                        "nullable": true
                    },
                    "currency_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "youtube_link": {
                        "type": "string",
                        "nullable": true
                    },
                    "status_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "contract_type_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "lat": {
                        "type": "string",
                        "nullable": true
                    },
                    "lon": {
                        "type": "string",
                        "nullable": true
                    },
                    "parking": {
                        "type": "integer",
                        "default": 0
                    },
                    "kitchen": {
                        "type": "integer",
                        "default": 0
                    },
                    "elevator": {
                        "type": "integer",
                        "default": 0
                    },
                    "wifi": {
                        "type": "integer",
                        "default": 0
                    },
                    "fireplace": {
                        "type": "integer",
                        "default": 0
                    },
                    "hoa": {
                        "type": "integer",
                        "default": 0
                    },
                    "stories": {
                        "type": "integer",
                        "default": 0
                    },
                    "exclusions": {
                        "type": "integer",
                        "default": 0
                    },
                    "level": {
                        "type": "integer",
                        "default": 0
                    },
                    "security": {
                        "type": "integer",
                        "default": 0
                    },
                    "lobby": {
                        "type": "integer",
                        "default": 0
                    },
                    "balcony": {
                        "type": "integer",
                        "default": 0
                    },
                    "terrace": {
                        "type": "integer",
                        "default": 0
                    },
                    "power_plant": {
                        "type": "integer",
                        "default": 0
                    },
                    "gym": {
                        "type": "integer",
                        "default": 0
                    },
                    "walk_in_closet": {
                        "type": "integer",
                        "default": 0
                    },
                    "swimming_pool": {
                        "type": "integer",
                        "default": 0
                    },
                    "kids_area": {
                        "type": "integer",
                        "default": 0
                    },
                    "pets_allowed": {
                        "type": "integer",
                        "default": 0
                    },
                    "central_air_conditioner": {
                        "type": "integer",
                        "default": 0
                    },
                    "published": {
                        "type": "integer",
                        "default": 0
                    },
                    "created_by": {
                        "type": "integer",
                        "nullable": true
                    },
                    "published_at": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "PropertyStatus": {
                "title": "Property Status",
                "description": "Property Status schema",
                "properties": {
                    "id": {
                        "description": "ID of the property status",
                        "type": "integer"
                    },
                    "name": {
                        "description": "Name of the property status",
                        "type": "string"
                    },
                    "created_at": {
                        "description": "Creation date of the property status",
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "description": "Last update date of the property status",
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "PropertyType": {
                "title": "Property Type",
                "description": "Property Type schema",
                "properties": {
                    "id": {
                        "description": "ID of the property type",
                        "type": "integer"
                    },
                    "name": {
                        "description": "Name of the property type",
                        "type": "string"
                    },
                    "created_at": {
                        "description": "Creation date of the property type",
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "description": "Last update date of the property type",
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            }
        }
    }
}